/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: gainsboro;
}

.header {
  border-radius: 8px;
  background-color: darkblue;
  color: white;
  width: 100%;
  padding: 8px;
}

.list {
  margin: 0;
  padding: 0;
}

.alert-info > a.title {
  text-decoration: none;
  font-size: medium;
  color: cornflowerblue;
}

.alert-info > a.title:hover {
  color: blue;
}

.add {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 8px;
  margin-top: 16px;
  background-color: cornflowerblue;
  color: aliceblue;
  border-radius: 8px;
}

.add:hover {
  color: white;
  background-color: deepskyblue;
}

.back {
  text-align: center;
  text-decoration: none;
  background-color: green;
  color: whitesmoke;
  display: inline-block;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

.back:hover {
  background-color: yellowgreen;
  color: white;
}

.task-form {
  background-color: white;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 16px;
}